@import "tailwindcss";

:root {
  --background: #1f1f1f;
  --foreground: #eff1ee;
}

body.dark {
  --background: #eff1ee;
  --foreground: #1f1f1f;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* keep this */
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background 0.5s ease,
    color 0.5s ease;
}

section {
  height: 100vh !important;
  width: 100% !important;
}

/* font sizes */
.hero-title {
  font-size: 48px;
}

.page-title {
  font-style: 30px;
}

.section-title {
  font-size: 24px;
}

.subheading {
  font-size: 20px;
}

.medium-text {
  font-size: 18px;
}

.body-text {
  font-size: 16px;
}

.small-text {
  font-size: 14px;
}

.extra-small-text {
  font-size: 12px;
}
